<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.prco.plymouth.thecentrecircle">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".TheCentreCircle"
        android:allowBackup="true"
        android:icon="@mipmap/ic_centrecircle"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- The two above settings will be removed. We are using them to make the app more efficient by testing -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MatchDetailActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.ac.prco.plymouth.thecentrecircle.MainActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.ac.prco.plymouth.thecentrecircle.MainActivity" />
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name=".MatchNotificationService"
            android:exported="false" />

        <activity
            android:name=".AllCompetitionsActivity"
            android:label="Nations"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".VideoListActivity" />
        <activity
            android:name=".CompetitionTabbedActivity"
            android:label="@string/title_activity_competition_tabbed"
            android:parentActivityName=".AllCompetitionsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FavouriteCompetitionsActivity"
            android:label="Favourite Competitions"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ViewVideoActivity" />
        <activity android:name=".TeamDetailActivity" />
        <activity
            android:name=".UserProfileActivity"
            android:label="@string/title_activity_user_profile"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>